apiVersion: v1
kind: Service
metadata:
  name: {{ include "waichat.fullname" . }}
  labels:
    {{- include "waichat.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "waichat.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: app
