services:
  redis:
    image: redis:7-alpine
    container_name: waiconv-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15-alpine
    container_name: waiconv-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: chat
      POSTGRES_USER: chat
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  backend:
    build: .
    pull_policy: build
    container_name: waiconv
    restart: unless-stopped
    depends_on:
      - redis
      - postgres
    ports:
      - "8000:8000"
    environment:
      # --- Redis config ---
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_DB: "0"
      REDIS_MESSAGES_KEY: "chat_messages"

      # --- Postgres config ---
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: "5432"
      POSTGRES_DB: "chat"
      POSTGRES_USER: "chat"
      POSTGRES_PASSWORD: "password"

      MAX_MESSAGES: "10"
