name: publish waiconv helm chart

on:
  push:
    branches:
      - main
      # - dev
    paths:
      - chart/waiconv/templates/**
      - chart/waiconv/values.yaml
      - chart/waiconv/Chart.yaml

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
